.jumbotron {
  background-color: #efead8;
}

#gallery {
  background-color: #efead8;
}

section {
  padding-top: 140px;
}
nav {
  background-color: #5f7261;
}

footer {
  background-color: #5f7261;
}
